// Place all the styles related to the Exhibits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  @font-face {
    font-family: "Suisse BP Int'l Medium-2";
    src: url('<%= asset_path("Suisse BP Intl Medium-2.ttf") %>') format('truetype');
  }

  @font-face {
    font-family: "big-caslon-fb";
    src:url('<%= asset_path("BigCaslon.ttf") %>') format('truetype');
  }

  $font-stack:  "Suisse BP Int'l Medium-2";
  $scd-font-stack: "big-caslon-fb";
  $primary-color: #FF3127;

  .header-container {
    background-color: black;
    position: relative;
    color: $primary-color;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%
    }

  .flex {
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
  }

  .header-img {
    padding-left: 40%;
    height: 93%;
    width: 93%;
  }

  .bottom-text {
    position: absolute;
    bottom: 30%;
    left: 8%;
  }

  p {
    font-family: $scd-font-stack;
  }

  h1.header-h {
    // font-family: "Suisse BP Int'l Medium-2";
    font-size: 63px;
    margin-left: 10px;
    padding:0;
    margin: 0;
    font-weight: 400;
  }

  h2.event-title {
    color: $primary-color;
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
  }

  p.event-desc {
    font-size: 15px;
    color: $primary-color;
    margin: 0;
  }

  p.header-p {
    font-size: 25px;
    padding: 0;
    margin: 0;
  }

  .container {
    margin-top: 60px;
  }

  h3.header-collection {
    font-size: 45px;
    margin-bottom: 25px;
    font-weight: 400;
  }

  .col-img {
    width: 250px;

  }

  .red::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #FF3127 100%);
    margin-top: -150px;
    height: 150px;
    width: 250px;
    content: '';
  }


  .red:hover:after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #FF3127 40%);
    margin-top: -180px;
    height: 180px;
    width: 250px;
    content: '';
  }

  .col-title{
    font-size: 23px;
    font-family: $scd-font-stack;
    color: $primary-color;
  }

  .event-col {
    border-left: 10px solid #c2c4c6;
    height: 209px;
    margin-bottom: 10px;
  }

  .footer {
    border-top: 15px solid #c2c4c6;
  }


  .footer-c {
    margin-top:10px;
    margin-bottom: 30px;
  }

  h2.footer-txt {
    // font-family: "Suisse BP Int'l Medium-2";
    font-size: 25px;
    font-weight: 400;
  }

 p.incl {
   display:inline-block;
   color: $primary-color;
   position: absolute;
   display: list-item;
   list-style-type: disc;
   list-style-position: inside;
   list-style-image: image_url("dot.png");
 }
